<footer>

	<div class="footer">
		<div class="logo">
			<img src="/images/logo-dark.webp" alt="ARC Ministry Logo">
		</div>
		<div class="footer-menu">
			<a href="/projects">Projects</a>
			<a href="/volunteer">Volunteer</a>
			<a href="/updates">Updates</a>
			<a href="/about">About Us</a>
		</div>
	</div>
	<div class="verse">
		<p>For if thou altogether holdest thy peace at this time, then shall there enlargement and deliverance arise... from another place; but thou and thy father's house shall be destroyed: and WHO KNOWETH WHETHER THOU ART COME UNTO THE KINGDOM FOR SUCH A TIME AS THIS?</p>\
		<p>Esther 4:14</p>
	</div>


	<div class="details">
		<a href="{{ .Site.BaseURL }}">
			&copy; {{ now.Format "2006" }} {{ .Site.Title }} All Rights Reserved
		</a> <br>
		<a href="https://www.scriptworks.net">Website by ScriptWorks Web Dev</a>
	</div>
</footer>
<script type="text/javascript" src="/js/index.js">

</script>
<script async type="text/javascript" src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=Vv74Ad"></script>
{{if .IsHome}}<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>{{end}}
